.container {  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.7fr 1.3fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "bannercontacto bannercontacto"
    "formulariocontacto textocontacto";
}

.bannercontacto { grid-area: bannercontacto; }

.formulariocontacto { grid-area: formulariocontacto; }

.textocontacto { grid-area: textocontacto; }

