* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../imag/bg.jpg");
  background-position: center;
  background-repeat: repeat;
  background-color: rgba(0, 0, 0, 0.836);
  font-family: sans-serif;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow-x: hidden;

  h1,
  h2,
  h3 {
    font-size: 23px;
  }
  p {
    font-size: 16px;
  }

  a {
    text-decoration: none;
  }

  a:hover {
    position: relative;
    top: 3px;
  }

  
}
