header {
  background-color: $color-fondo-claro;
  width: 100vw;
  position: absolute;
  top: 0px;
  left: 0px;
  -webkit-box-shadow: 0px 7px 26px -19px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 7px 26px -19px rgba(0,0,0,0.75);
  box-shadow: 0px 7px 26px -19px rgba(0,0,0,0.75);

  .logo {
    width: 220px;
    
  }

  .logotipo {
    padding: 3px 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .menu {
    

    .menu-lista {
      list-style: none;
      width: 100%;
      height: 80px;
      display: flex;
      flex-direction: row;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      position: relative;
      top: 10px;
      
    }
  }

  @media all and (max-width: 600px) {
    .menu-lista {
      display: none;
    }
  }
  .menUnidad {
    padding: 20px 20px;
  }
  .menUnidad:hover {
    padding: 15px 20px;
    background-color: $color-boton;
    color: $color-boton-claro;
  }
}
