.container-fluid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "banner banner banner"
    "textoHistoria textoHistoria imagen";
}

.banner {
  grid-area: banner;
  width: 100vw;
  height: 400px;
  background-image: url("/imag/fondo4.jpg");
  background-attachment: fixed;
  background-position: 5%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.856);
}

.textoHistoria {
  grid-area: textoHistoria;
  padding: 80px 150px;
  height: 400px;
}

.imagen {
  grid-area: imagen;
  height: 400px;
  .riota {
    z-index: 999;
    width: 600px;
    position: relative;
    right: 250px;
    bottom: 300px;
  }
}

