
@media (max-width: 600px) { 
  .logo { 
    width: 50%; 
    margin-left: auto; 
    margin-right: auto; 
    display: block; 
  } 
} 
@media all and (max-width: 600px) {
  .menu-lista {
    display: none;
  }
}
@media (min-width: 600px) {
  .hamburguer {
    background-color: rgb(255, 255, 255);
    margin-top: 0px;
    border-radius: 99px;
    border: 0px solid rgb(211, 211, 211);
    padding: 12px;
  }
}

@media (max-width: 600px) {
  .hamburguer {
    background-color: rgb(255, 255, 255);
    margin-top: -80px;
    border-radius: 99px;
    border: 0px solid rgb(211, 211, 211);
    padding: 12px;
  }
}
/* -- PAGINA home
  :::::::::::::::::::::::::::::::::::::::::
  :::::::::::::::::::::::::::::::::::::::::
  ::::::::::::::::::::::::::::::::::::::::: */

@media (max-width: 600px) {
  .carousel-item {
    position: relative;
    width: 100vw;
    height: 300px;
  }
}
@media (max-width: 600px) {
  .carousel-inner{
    position: relative;
    width: 100vw;
    height: 300px;
  }
}
@media (max-width: 600px) {
  .banner {
    width: 100vw;
    height: 300px;
    position: absolute;
    top: 0px;
    left: 0px;
    object-fit: cover;
  }
}
@media (max-width: 600px) {
  .carousel-control-prev,
  .carousel-control-next {
display: none;
}
}
@media (max-width: 1000px) {
  .cajaGaleria3 {
    display:none !important;
  }
}

/* -- PAGINA nosotros
  :::::::::::::::::::::::::::::::::::::::::
  :::::::::::::::::::::::::::::::::::::::::
  ::::::::::::::::::::::::::::::::::::::::: */

@media (max-width: 1200px) {
  .imgNoso1,
  .imgNoso3 {
    display: none;
  }
}
@media (max-width: 650px) {
  .imgNoso2 {
    width: 100%;
    height: auto;
    padding: 0px;
    margin: 0px 0px 0px 0px;
    position: relative;
    z-index: 8;
  }
}
/* -- PAGINA Servicio
  :::::::::::::::::::::::::::::::::::::::::
  :::::::::::::::::::::::::::::::::::::::::
  ::::::::::::::::::::::::::::::::::::::::: */

@media (max-width: 600px) {
  .cajaSer1,
  .cajaSer4,
  .cajaSer5 {
    margin: 0px 0px;
  }
}
/* -- PAGINA galería
  :::::::::::::::::::::::::::::::::::::::::
  :::::::::::::::::::::::::::::::::::::::::
  ::::::::::::::::::::::::::::::::::::::::: */

  @media (max-width: 600px) {
  .cajaGaleriaPadre {
    width: 100% !important;
    margin-top: 150px;
    padding: 10px;
    display: block;
  }
}
/* -- PAGINA contacto
  :::::::::::::::::::::::::::::::::::::::::
  :::::::::::::::::::::::::::::::::::::::::
  ::::::::::::::::::::::::::::::::::::::::: */
  @media (max-width: 600px) {
  .bg-pan-bottom {
    background-image: url(../imag/principal.jpg) !important;
    background-repeat:cover;
    background-position: center;
  }}

  @media (max-width: 600px) {
    .formPadre {
      width: 95%;
    }}

@media (max-width: 600px) {
  .formPadre {
    position: relative;
    padding: 4px;
    margin: 147px 0px;
  }
}

@media (max-width: 600px) {
  .formHijo {
    width: 100%;
    position: relative;
    background-color: rgb(17, 104, 104);
  }
}
