/*Colores*/

$color-boton:rgb(255, 174, 53);
$color-boton-secundario:rgb(243, 74, 7);
$color-boton-claro:rgb(255, 255, 255);
$color-fondo-claro:rgb(248, 248, 248);
$color-fondo-oscuro:rgb(31, 31, 31);
$color-fuente-parrafo:rgb(0, 0, 0);
$color-fuente-titulo:rgb(255, 153, 0);